.company-profile-page-con-top{
	padding: 175px 0 130px;
	background: #f4f5f9;
}
.cppct-des-cntrl{
	max-width: 1000px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.cppct-des-inr{
	max-width: 760px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.cppct-des-inr img{
	width: 100%;
	margin-top: 70px;
	margin-bottom: 60px;
}
.cppct-des-inr p img{
	width: 100%;
	margin-top: 70px;
	margin-bottom: 60px;
}
.supported-ngos-area{
	margin: 80px 0 0;
	padding: 100px 0 0;
	border-top: 1px solid #bfbfbf;
}
.supported-ngos-area ul{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.supported-ngos-area ul li{
	width: 25%;
	padding: 0 35px 50px;
	text-align: center;
}

.supported-ngos-area-title{
	margin: 0 0 55px 0;
	text-align: center;
	font-size: 30px;
	line-height: 1;
	font-weight: 600;
}

.supported-ngo-item div{
	padding-bottom: 25px;
}
.supported-ngo-item strong{
	display: block;
	color: #0055ff;
	font-size: 12px;
	font-weight: 600;
}

ul#bus-supported-camp li:nth-child(n+5) {
    display:none;
}







@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	

}

@media(max-width: 991px){
	
}

@media(max-width: 767px){
	.cppct-des-inr img {
	    width: 100%;
	    margin-top: 30px;
	    margin-bottom: 40px;
	}
	.supported-ngos-area {
	    margin: 50px 0 0;
	    padding: 50px 0 0;
	}
	.company-profile-page-con-top {
	    padding: 155px 0 80px;
	    background: #f4f5f9;
	}
	.supported-ngos-area ul li{
		width: 33.3333%;
	}
}


@media(max-width: 639px){
	.supported-ngos-area ul li{
		width: 50%;
	}

}
@media(max-width: 575px){
	.supported-ngos-area ul li{
		padding-left: 15px;
		padding-right: 15px;
	}

}

@media(max-width: 479px){


}

@media(max-width: 359px){

}

