.s2-ngo-profile-page-cntlr{
	padding: 95px 0 170px;
	background: #f4f5f9;
}

.s2-ngo-profile-entry-hdr{
	text-align: center;
	padding-bottom: 30px;
}
.s2-ngo-profile-block{
	max-width: 755px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;	
}
.s2npeh-title{
	color: #0055ff;
	font-size: 32px;
	line-height: 1;
	margin-bottom: 50px;
}

.s2-ngo-profile-entry-hdr p{
	margin-bottom: 30px;
}
.our-follow-impact ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.our-follow-impact ul li{
	width: 33.3333%;
	padding: 0 25px 40px;
}
.our-follow-impact-grd{
	width: 182px;
	height: 182px;
	background: #fff;
	border-radius: 100% 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 8px 11px #e3e4e8;
	margin-left: auto;
	margin-right: auto;
}

.our-follow-impact-grd strong{
	color: #0055FF;
	font-size: 60px;
	line-height: 1;
	display: block;
	text-align: center;
	margin-bottom: 10px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 500;
}

.our-follow-impact-grd span{
	display: block;
	text-align: center;
	font-size: 16px;
	line-height: 1.2;
	text-transform: uppercase;
	color: #0055FF;
}

.ofi-btn a{
	max-width: 245px;
	height: 55px;
	border-radius: 28px;
	background: #0055FF;
	color: #fff;
	font-size: 13px;
	font-weight: 900;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	text-transform: uppercase;
	letter-spacing: 1px;
	border: 2px solid #0055FF;
}
.ofi-btn a i{
	font-size: 20px;
	margin-right: 10px;
}

.ngo-new-campaign-progress{
	padding-bottom: 30px;
}
.ngoec-btm{
	display: flex;
}
.ngoec-btm-rgt{
	margin-left: auto;
}
.ngoec-btm-rgt input[type="submit"]{
	margin-right: 0!important;
}
.switch-icon-cntlr{
	width: 65px;
	height: 31px;
	border: 1px solid #E8E7E7;
	border-radius: 13px;
	position: relative;
	background: #fff;
}
.switch-icon-cntlr input{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: transparent;
	opacity: 0;
}
.fl-custom-switch label{
	margin: 0;
	padding-left: 5px;
	font-size: 13px;
	line-height: 1;
	color: #000000;
	position: absolute;
	right: 0;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	cursor: pointer;
	z-index: 2;
	text-align: right;

}
.fl-custom-switch{
	display: flex;
	align-items: center;
	position: relative;
	padding-right: 50px;
	padding-left: 0;
}
.switch-icon{
	position: absolute;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	background: #03D39B;
	width: 29px;
	height: 29px;
	border-radius: 100% 100%;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.switch-icon:after{
	content: "\f00d";
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    text-decoration: inherit;
    color: #fff;
    font-size: 16px;
    line-height: 1;
    position: absolute;
    top: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
    left: 50%;
    line-height: 15px;
}

.switch-input:checked + .switch-icon{
	right: 0;
}

.switch-input:checked + .switch-icon:after{
	content: "\f00c";
}

.user-rel-camp-head-2{
	border-bottom: 3px solid #D6DAE0!important;
	margin-bottom: 25px!important;
	padding-bottom: 0!important;
}
.user-rel-camp-head-2 a{
	padding: 0 15px 10px;
    position: relative;
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
    background: transparent;
    display: inline-block;
    vertical-align: baseline;
    cursor: pointer;
    margin-right: 35px;
    font-size: 16px;
}
.user-rel-camp-head-2 a:after {
    content: "";
    background: #0055FF;
    position: absolute;
    top: 100%;
    left: 0;
    height: 3px;
    width: 0;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.user-rel-camp-head-2 a:hover:after, .user-rel-camp-head-2 a.active:after {
    width: 100%;
}
.user-rel-camp-head a:last-child {
    margin-right: 0;
}
/*
Gallery design
*/

.gallery-wrap{
	padding-top: 75px;
	padding-bottom: 15px;
}
.gallery {
	margin-left: -12px;
	margin-right: -12px;
}

.gallery:after {
	display: table;
	content: "";
	clear: both;
}

.gallery-item {
	margin: 0;
	float: left;
	padding: 0 12px;
	margin-bottom: 24px;
	width: 50%;
}

.gallery-item img {
	width: 100%;
}

.gallery-columns-1 .gallery-item {
    width: 100%;
    float: none;
}
.gallery-columns-2 .gallery-item {
    width: 50%
}
.gallery-columns-3 .gallery-item {
    width: 33.3333%
}
.gallery-columns-4 .gallery-item {
    width: 25%
}
.gallery-columns-5 .gallery-item {
    width: 20%
}
.gallery-columns-6 .gallery-item {
    width: 16.6667%
}
.gallery-columns-7 .gallery-item {
    width: 14.2857%
}
.gallery-columns-8 .gallery-item {
    width: 12.5%
}
.gallery-columns-9 .gallery-item {
    width: 11.1111%
}

.gallery-columns-2 .gallery-item:nth-child(2n+1),
.gallery-columns-3 .gallery-item:nth-child(3n+1),
.gallery-columns-4 .gallery-item:nth-child(4n+1),
.gallery-columns-5 .gallery-item:nth-child(5n+1),
.gallery-columns-6 .gallery-item:nth-child(6n+1),
.gallery-columns-7 .gallery-item:nth-child(7n+1),
.gallery-columns-8 .gallery-item:nth-child(8n+1),
.gallery-columns-9 .gallery-item:nth-child(9n+1) {
	clear: left;
}



.video-play {
    overflow: hidden;
}

.video-play a {
    position: relative;
    cursor: pointer;
    display: block;
}
.video-play a img {
    width: 100%;
}

.video-play a:after {
    content: '';
    position: absolute;
    background-image: url(../images/play-icon.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 56px;
    height: 70px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}



.social-development-goals-sec{
	padding-top: 125px;
}
.sdgs-title{
	font-size: 30px;
	font-weight: 600;
	display: block;
	text-align: center;
	text-align: center;
	text-transform: capitalize;
	margin-bottom: 52px;
}
.sdgs-grds{
	padding-bottom: 33px;
}
.sdgs-grds ul{
	display: flex;
	justify-content: center;
	margin-left: -11px;
	margin-right: -11px;
	flex-wrap: wrap;
}
.sdgs-grds ul li{
	width: 25%;
	padding: 0 11px 22px;
}

.social-development-goals-sec p{
	margin-bottom: 40px;
}
.ncc-campaign-gallery.ngogallery {
  width: 60%;
  float: left;
}
.ngovideo {
  float: left;
  width: 40%;
}






@media(min-width: 1921px){
/*	.container-fluid{
		margin-left: 15%;
		margin-right: 15%;
	}*/
}


@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.social-development-goals-sec {
	    padding-top: 55px;
	}

}

@media(max-width: 991px){
	.s2-ngo-profile-page-cntlr{
		padding-bottom: 80px;
		padding-top: 70px;
	}
}

@media(max-width: 767px){
	.our-follow-impact-grd{
		width: 170px;
		height: 170px;
	}
	.our-follow-impact ul li{
		padding-left: 15px;
		padding-right: 15px;
	}
	.ncc-campaign-gallery.ngogallery,
	.ngovideo{
		width: 100%;
	}
}

@media(max-width: 639px){
	.our-follow-impact ul li{
		width: 50%;
	}
	.sdgs-grds ul{
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	.sdgs-grds ul li{
		width: 50%;
	}
}

@media(max-width: 575px){
	.video-play a:after{
		width: 
	}
	.video-play a:after {
	    width: 44px;
	    height: 51px;
	}
	.gallery-wrap{
		padding-bottom: 5px;
	}
}


@media(max-width: 479px){
	.our-follow-impact ul li{
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
	.video-play a:after {
	    width: 35px;
	    height: 38px;
	}

}

@media(max-width: 359px){

}


