
@media(min-width: 1921px){
/*	.container-fluid{
		margin-left: 15%;
		margin-right: 15%;
	}*/
}


@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.hide-lg{
		display: none!important;
	}
	.show-lg{
		display: block!important;
	}

}

@media(max-width: 991px){
	.hide-md{
		display: none!important;
	}
	.show-md{
		display: block!important;
	}
	h1{ 
		font-size: 45px; 
	}
	h2{ 
		font-size: 40px;
	}
	h3{
		font-size: 32px;
	}
	h4{
		font-size: 30px;
	}
	h5{
		font-size: 25px;
	}
	h6{
		font-size: 20px;
	}
}

@media(max-width: 767px){
	.hide-sm{
		display: none!important;
	}
	.show-sm{
		display: block!important;
	}
	h1{ 
		font-size: 40px; 
	}
	h2{ 
		font-size: 36px; 
	}
	h3{
		font-size: 30px;
	}
	h4{
		font-size: 28px;
	}
	h5{
		font-size: 25px;
	}
	h6{
		font-size: 20px;
	}
}

@media(max-width: 575px){
	.hide-xs{
		display: none!important;
	}
	.show-xs{
		display: block!important;
	}
	h1{ 
		font-size: 36px; 
	}
	h2{ 
		font-size: 32px;
	}
	h3{
		font-size: 28px;
	}
	h4{
		font-size: 25px;
	}
	h5{
		font-size: 22px;
	}
	h6{
		font-size: 20px;
	}

}

@media(max-width: 479px){


}

@media(max-width: 359px){

}